@mixin iconName($name) {
	&.ico-#{$name}::after {
		-webkit-mask-image: url("../../img/svg/ico-#{$name}.svg");
		mask-image: url("../../img/svg/ico-#{$name}.svg");
	}
}
@mixin iconColor($color-name, $color-value) {
	&.ico-bg-#{$color-name},
	&.ico-#{$color-name}::after {
		background-color:#{$color-value} !important;
	}
	&.ico-line-#{$color-name} {
		border-color: $color-value;
		&::after {
			background-color: $color-value !important;
		}
	}
}
/* Icon Style */
.hi-ico {
	display: inline-flex;
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
	border: 2px solid transparent;
	padding: 3px;
	box-sizing: content-box;
	vertical-align: middle;
	&::after {
		display: inline-block;
		content: "";
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: $black;
		-webkit-mask-image: url("../../img/svg/ico-none.svg");
		mask-image: url("../../img/svg/ico-none.svg");

		/* 아이콘 색상 설정 */
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		-webkit-mask-size: contain;
		mask-size: contain;
	}

	/* 아이콘 색상 */
	@include iconColor(default, $default);
	@include iconColor(primary, $primary);
	@include iconColor(secondary, $secondary);
	@include iconColor(success, $success);
	@include iconColor(info, $info);
	@include iconColor(noti, $noti);
	@include iconColor(gray, $gray-07);
	@include iconColor(warning, $warning);
	@include iconColor(purple, $purple);
	@include iconColor(yellow, $yellow);
	@include iconColor(jungle, $jungle);
	@include iconColor(orange, $orange);
	@include iconColor(black, $black);
	@include iconColor(white, $white);
	@include iconColor(disabled, $disabled-bg);
	@include iconColor(gray, $gray-08);

	// 아이콘 사이즈
	&.ico-size-10 {
		min-width: 10px;
		min-height: 10px;
		width: 10px;
		height: 10px;
	}
	&.ico-size-14 {
		min-width: 14px;
		min-height: 14px;
		width: 14px;
		height: 14px;
	}
	&.ico-size-18 {
		min-width: 18px;
		min-height: 18px;
		width: 18px;
		height: 18px;
	}
	&.ico-size-20 {
		min-width: 20px;
		min-height: 20px;
		width: 20px;
		height: 20px;
	}
	&.ico-size-24 {
		min-width: 24px;
		min-height: 24px;
		width: 24px;
		height: 24px;
	}
	&.ico-size-28 {
		min-width: 28px;
		min-height: 28px;
		width: 28px;
		height: 28px;
	}
	&.ico-size-32 {
		min-width: 32px;
		min-height: 32px;
		width: 32px;
		height: 32px;
	}
	&.ico-size-36 {
		min-width: 36px;
		min-height: 36px;
		width: 36px;
		height: 36px;
		padding: 5px;
	}
	&.ico-size-50 {
		min-width: 50px;
		min-height: 50px;
		width: 50px;
		height: 50px;
		border-width: 3px;
		padding: 10px;
	}
	&.ico-size-100 {
		min-width: 100px;
		min-height: 100px;
		width: 100px;
		height: 100px;
		border-width: 5px;
		padding: 15px;
	}

	&.ico-rounded {
		border-radius: 100px;
	}

	&.ico-bitrounded {
		border-radius: 4px;
	}

	//아이콘 이름
	@include iconName(none);
	@include iconName(list-move);
	@include iconName(list2);
	@include iconName(list2-lock);
	@include iconName(user);
	@include iconName(plus);
	@include iconName(plus2);
	@include iconName(plus3);
	@include iconName(minus);
	@include iconName(minus2);
	@include iconName(minus3);
	@include iconName(chart);
	@include iconName(close-circle-fill);
	@include iconName(speech-bubble);
	@include iconName(volume);
	@include iconName(secret);
	@include iconName(sort-up);
	@include iconName(sort-down);
	@include iconName(printer);
	@include iconName(printer-thin);
	@include iconName(pointlist);
	@include iconName(photo-fill);
	@include iconName(file-upload);
	@include iconName(file-down);
	@include iconName(time-fill);
	@include iconName(time);
	@include iconName(refresh);
	@include iconName(refresh2);
	@include iconName(expand);
	@include iconName(shrink);
	@include iconName(drawnup);
	@include iconName(close);
	@include iconName(close2);
	@include iconName(close3);
	@include iconName(clip);
	@include iconName(delete);
	@include iconName(delete2);
	@include iconName(star-fill);
	@include iconName(star);
	@include iconName(search);
	@include iconName(search-thin);
	@include iconName(next);
	@include iconName(prev);
	@include iconName(med-fill);
	@include iconName(pen);
	@include iconName(pen2);
	@include iconName(warning-circle);
	@include iconName(warning-circle-fill);
	@include iconName(block);
	@include iconName(hitalk-thin);
	@include iconName(hitalk);
	@include iconName(hitalkshare);
	@include iconName(noti-thin);
	@include iconName(talk-thin);
	@include iconName(time-thin);
	@include iconName(user2);
	@include iconName(calendar);
	@include iconName(calendar2);
	@include iconName(calendar3);
	@include iconName(no-chat-thin);
	@include iconName(setting-fill);
	@include iconName(setting);
	@include iconName(filter);
	@include iconName(filter-thin);
	@include iconName(photo);
	@include iconName(crown);
	@include iconName(crown-fill);
	@include iconName(group);
	@include iconName(group-thin);
	@include iconName(group-fill);
	@include iconName(noti2);
}
i.ico-listmove {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../../img/icon/ico_listmove.svg");
}
i.close-btn01 {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../../img/icon/icon_mnclose_24.svg");
}
.icon-unlock-fill {
	display: inline-block;
	background: url("../../img/icon/ic_unlock_fill_20.svg");
	width: 20px;
	height: 20px;
}
