.hi-tabs{width:100%;}
.hi-tab {
	display: flex;
	font-size: 0;
	button {
		overflow: visible;
		color: $gray-09;
		font-size: 16px;
		line-height: 1;
		min-height:48px;
		padding:0 24px;
		position: relative;
		.hi-ico{
			vertical-align: middle;
			&::after{background-color:$gray-09;}
		}
	} 

	&:not([class*="type"]) {        
		border-top: 1px solid $gray-10;
		border-bottom: 1px solid $gray-05;
		> button{
			&::before {
				width: 1px;
				height: 16px;
				background-color: $gray-05;
				display: inline-block;
				content: '';
				position: absolute;
				left: 0;
				top: calc(50% - 8px);
			}
			&:first-of-type { padding-left: 8px; }
			&:first-of-type::before{display: none; }		
			&.is-active {
				color: #222;
				font-weight: 700;
				.hi-ico::after{background-color:#222;}
			}			
			&.is-new::after {
				content: "";
				display: inline-block;
				width: 4px;
				height: 4px;
				background-color: $noti;
				border-radius: 50%;
				vertical-align: top;
				margin: -2px 0 0 2px;
			}		
		}
	}

	&.type01{
		> button{
			color: $disabled;
			border: 1px solid  $disabled-bg;			
			.hi-ico::after{background-color: $disabled}
			&.is-active{
				background-color: $primary;
				border: 1px solid $primary;
				color: #fff;				
				.hi-ico::after{background-color:#fff;}
			}
			& + button {margin-left: -1px;}
			&:first-child{border-radius: 7px 0 0 7px;}
			&:last-child{border-radius: 0 7px 7px 0;}
		}
	}

	&.type02{
		> button{
			color:  $disabled;
			border: 1px solid  $disabled-bg;
			.hi-ico::after{background-color: $disabled}
			&.is-active{
				background-color: $primary;
				border: 1px solid $primary;
				color: #fff;
				.hi-ico::after{background-color:#fff;}
			}
			& + button {margin-left: -1px;}
			&:first-child{border-radius: 50px 0 0 50px; padding-left: 35px;}
			&:last-child{border-radius: 0 50px 50px 0; padding-right: 35px;}
		}
	}

	&.type03{
		border-bottom: 1px solid $gray-05;
		> button{
			color:  $gray-09;            
			font-weight: 400;
			border-bottom: 3px solid transparent;
			margin-bottom: -1px;
			.hi-ico::after{background-color:  $gray-09;}
			&.is-active{
				color: $primary;
				font-weight: 500;
				border-color: $primary;
				.hi-ico::after{background-color:$primary;}
			}
		}
	}

	&.type04{
		gap: 10px;
		> button{
			color: $gray-09;            
			border: 1px solid  $disabled-bg;
			font-weight: 400;
			border-radius: 50px;
			.hi-ico::after{background-color: $gray-09;}
			&.is-active{
				color: #fff;
				background-color: $gray-10;
				border-color: $gray-10;
				font-weight: 500;
				.hi-ico::after{background-color:#fff;}
			}
		}
	}

	&.tab-xs > button{
		min-height: 36px;font-size: 13px;padding: 0 16px;
		.hi-ico{width:16px;height:16px;}
	}
	&.tab-sm > button{
		min-height: 40px;font-size: 14px;padding: 0 16px;
		.hi-ico{width:20px;height:20px;}
	}
	&.tab-md > button{
		min-height: 48px;font-size: 14px;padding: 0 20px;
		.hi-ico{width:20px;height:20px;}
	}
	&.tab-lg > button{
		min-height: 56px;font-size: 16px;padding: 0 24px;
		.hi-ico{width:24px;height:24px;}
	}
	&.tab-xl > button{
		min-height: 60px;font-size: 16px;padding: 0 24px;
		.hi-ico{width:24px;height:24px;}
	}

	&.tab-block{
		> button{width:100%;}
	}
}