@mixin font-face($name, $file, $weight: 400, $style: normal) {
  @font-face {
    font-family: $name;
    src: url('@/assets/fonts/#{$name}/#{$file}.woff2') format('woff2'),
         url('@/assets/fonts/#{$name}/#{$file}.woff') format('woff'),
         url('@/assets/fonts/#{$name}/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// 나눔스퀘어 
@include font-face('NanumSquare', 'NanumSquareL', 300);
@include font-face('NanumSquare', 'NanumSquareR');
@include font-face('NanumSquare', 'NanumSquareB', 500);
@include font-face('NanumSquare', 'NanumSquareEB', 600);

// 나눔스퀘어라운드 
@include font-face('NanumSquareRound', 'NanumSquareRoundL', 300);
@include font-face('NanumSquareRound', 'NanumSquareRoundR');
@include font-face('NanumSquareRound', 'NanumSquareRoundB', 500);
@include font-face('NanumSquareRound', 'NanumSquareRoundEB', 600);