@charset "UTF-8";
@use "@/assets/style/main" as var;

body {
  overflow-y: hidden;
  margin: 0;
}

.app {
  display: flex;
}

.designSys {
  display: flex;



  header {
    position: relative;
    background-color: #0F6BFF;
    padding: 40px 50px;
    color: #fff;

    h1 {
      font-size: 40px;
      line-height: 40px;
      font-family: var(--font-tit);
      margin-top: 0;
    }

    p {
      margin-top: 25px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 1.4;
      font-size: 15px;
      font-weight: 300;
    }

    p.info {
      color: rgba(255, 255, 255, 0.5);
      font-size: 13px;

      span {
        display: inline-block;
        margin: 0 10px;
        color: rgba(255, 255, 255, 0.3);
      }
    }

    p.link {
      button {
        width: 40px;
        height: 40px;
        border: 0;
        border-radius: 100px;
        background: #0059e7 no-repeat center;
        text-indent: -999999px;

        &.figma {
          background-image: url('~@/designSystem/assets/img/figma.svg');
        }

        &.scss {
          background-image: url('~@/designSystem/assets/img/css.svg');
        }

        &.js {
          background-image: url('~@/designSystem/assets/img/js.svg');
        }

        +button {
          margin-left: 10px;
        }
      }
    }
  }

  main {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    background: #F5F5F5;
    height: 100dvh;
    overflow: auto;
  }

  article {
    height: 100%;

    .sections {
      width: 100%;

      section {
        padding: 50px;
        border-bottom: 8px solid #f5f5f5;

        >h2 {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }

    .ctrArea {
      display: flex;
      background: #fff;
      border: 1px solid #ddd;
      border-left: 0;

      .elArea {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 15px;
        align-content: center;
      }

      .propArea {
        width: 270px;
        border-left: 1px solid #ddd;
        background: #f3f3f3;

        li {
          border-bottom: 1px solid #e5e5e5;
          padding: 8px;
          display: flex;
          align-items: center;

          label {
            width: 100px;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            padding-left: 5px;
          }

          .hi-selectbox .selected,
          .input-box-wrap input {
            font-size: 13px;
            font-weight: 400;
          }

          >div {
            width: calc(100% - 100px);
            display: inline-block;
          }
        }
      }

      .codeArea {
        background: #333;
        width: 55%;
      }

      code {
        color: #ccc;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 1.4;

        .tag {
          color: #e2777a;
        }

        .val {
          color: #7ec699;
        }
      }
    }
  }

  article.type01 {
    height: auto;
    display: flex;
    align-items: flex-start;

    .ctrArea {
      flex-flow: column;
      min-width: 600px;
      height: 100dvh;
      position: sticky;
      top: 0;

      .optArea {
        display: flex;
        flex-flow: row-reverse;

        .elArea {
          border-left: 1px solid #ddd;
          width: calc(100% - 275px);
        }
      }

      .codeArea {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }
  }
}